/*
HEX
black: #000000
yellow-green: #DBFA74
red-orange: #FF715B
lavender: #D5B8FF
purple: #3D049A
*/

body{
    background-color: white;
}

/* HEADER STYLES */

header{
    background-color: black;
    margin-top: -1vw;
    margin-left: -1vw;
    margin-right: -1vw;
}

h1{
    font-family: 'Major Mono Display', monospace;
    color: #DBFA74;
    text-align: center;
    font-size: 2.5em;
    margin:0;
    padding-left: 0;
    padding-left: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}

.gradient{
    background-image: linear-gradient(-225deg, #D5B8FF 0%, #FF715B 50%, #DBFA74 100%);
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip{
    to {
        background-position: 200% center;
    }
}

.black_bg{
    background-color: black;
}

.gradient_bg{
    background: linear-gradient(-225deg, #D5B8FF 0%, #FF715B 50%, #DBFA74 100%);
}

.gradient_bg section{
    background: transparent;
}

/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #000000;
    margin-left: 16%;
    margin-right: 16%;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 1.2vw;
    color: #DBFA74;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Spline Sans Mono', monospace;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 1.2vw;
    border: none;
    outline: none;
    color: #DBFA74;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Spline Sans Mono', monospace;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #DBFA74;
    color: black;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #DBFA74;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #FF715B;
    color:black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

/* CONTENT FOR MAIN PAGES */
.main_content{
    margin-top: 1em;
    margin-bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
}

.main_content a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    letter-spacing: .1em;
    color:#3D049A;
    transition: .5s;
}

.main_content a:hover{
    color:white;
}

h2{
    margin-top: 12%;
    font-family: 'Spline Sans Mono', monospace;
    color:#3D049A;
}

.h2_about{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 0;
}

h3{
    font-family: 'Spline Sans Mono', monospace;
    color:#3D049A;
}

.h3_about_red{
    color: #FF715B;
}

.h3_about_purple{
    color: #D5B8FF;
}

.h3_about_yellow{
    color: #DBFA74;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    letter-spacing: .1em;
    color: black;
    padding-bottom: 3%;
    text-align: justify;
}

.p_about{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    letter-spacing: .1em;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    margin-top: 8%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.p_about_bio{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    letter-spacing: .1em;
    color: white;
    padding-bottom: 2%;
    text-align: justify;
}

ol, ul{
    font-family: 'Spline Sans Mono', monospace;
    font-size: 1em;
    letter-spacing: .1em;
}

li{
    margin-top: 2%;
    margin-bottom: 5%;
}

li img{
    width: 60%;
    margin-left:20%;
    margin-right:20%;
}

li p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    letter-spacing: .1em;
}

.caption{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: .8em;
    letter-spacing: .05em;
    color: black;
    padding-bottom: 5%;
    text-align: center;
    font-style: italic;
}

img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border: 2px solid white;
}

/* CONTENT FOR REFERENCES PAGE */
.references{
    margin-top: 1em;
    margin-bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
}

.first_ref{
    margin-top: 12%;
}

.references p{
    text-align: left;
}

/* IMAGE GALLERY FOR HOME PAGE */
.gallery_1{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-bottom: 27.5%;
    z-index: 2;
}

.gallery_right{
    margin-right: 10%;
    margin-left: 65%;
    margin-bottom: 0;
    margin-top: 5%;
    width: 25%;
    z-index: 2;
    position: absolute;
}

.gallery_right img{
    width: 90%;
    padding: 0;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 5px solid #D5B8FF;
    transition: 1.5s;
    z-index: 2;
}

.gallery_right img:hover{
    transform: translate(-118.5%);
    border-color: #DBFA74;
}

.gallery_right_text {
    text-align: center;
    margin-right: 15%;
    margin-left: 70%;
    margin-bottom: 5%;
    margin-top: 10%;
    z-index: 1;
    position: absolute;
    font-style: italic;
    font-size: 1.5vw;
}

.gallery_left{
    margin-right: 65%;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 5%;
    width: 25%;
    z-index: 2;
    position: absolute;
}

.gallery_left img{
    width: 90%;
    padding: 0;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 5px solid #DBFA74;
    transition: 1.5s;
    z-index: 2;
}

.gallery_left img:hover{
    transform: translate(0, 118.5%);
    border-color: #FF715B;
}

.gallery_left_text {
    text-align: center;
    margin-right: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 10%;
    position: absolute;
    font-style: italic;
    font-size: 1.5vw;
}

.gallery_center_box{
    width: 90%;
    aspect-ratio: 1/1;
    background: #DBFA74;
    z-index: 0;
    border: 5px solid #DBFA74;
    margin-top: 10%;
}

.gallery_2{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-bottom: 27.5%;
    z-index: 1;
}

.gallery_center{
    margin-right: 37.5%;
    margin-left: 37.5%;
    margin-bottom: 0;
    margin-top: 5%;
    width: 25%;
    z-index: 2;
    position: absolute;
}

.gallery_center img{
    width: 90%;
    padding: 0;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 5px solid #FF715B;
    transition: 1.5s;
    z-index: 2;
}

.gallery_center img:hover{
    transform: translate(118.5%);
    border-color: #D5B8FF;
}

.gallery_center_text {
    text-align: center;
    margin-right: 42.5%;
    margin-left: 42.5%;
    margin-bottom: 5%;
    margin-top: 10%;
    z-index: 1;
    position: absolute;
    font-style: italic;
    font-size: 1.5vw;
}

.gallery_right_box{
    width: 90%;
    aspect-ratio: 1/1;
    background: #D5B8FF;
    z-index: 0;
    border: 5px solid #D5B8FF;
    margin-top: 10%;
}

.gallery_left_box{
    width: 90%;
    aspect-ratio: 1/1;
    background: #FF715B;
    z-index: 0;
    border: 5px solid #FF715B;
    margin-top: 10%;
}

/* ABOUT PAGE LAYOUT */

.about_right{
    margin-right: 10%;
    margin-left: 65%;
    margin-bottom: 0;
    margin-top: 5%;
    width: 25%;
    z-index: 2;
    position: absolute;
}

.about_right img{
    border: 5px solid #D5B8FF;
}

.about_left{
    margin-right: 65%;
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 5%;
    width: 25%;
    z-index: 2;
    position: absolute;
}

.about_left img{
    border: 5px solid #DBFA74;
}

.about_center{
    margin-right: 37.5%;
    margin-left: 37.5%;
    margin-bottom: 0;
    margin-top: 5%;
    width: 25%;
    z-index: 2;
    position: absolute;
}

.about_center img{
    border: 5px solid #FF715B;
}

.about{
    padding-bottom: 20%;
}

/* SIGNATURE: applies to <p> element*/
.signature {
    font-family: 'Spline Sans Mono', monospace;
    color:#3D049A;
    font-size: smaller;
    margin-left: 25%;
}

/* FOOTER STYLES */

.copyright-dark{
    font-family: 'Spline Sans Mono', monospace;
    font-size: .8em;
    color: #DBFA74;
    margin-top: 35%;
    margin-left: 8%;
    position: absolute;
}
.copyright-light{
    font-family: 'Spline Sans Mono', monospace;
    font-size: .8em;
    color: #3D049A;
    margin-top: 5%;
    margin-left: 8%;
}
